<div class="row">

	<!-- .buttons -->
	<!-- ================ -->
	<div class="col-md-16">

		<!-- page-title start -->
		<!-- ================ -->
		<h1 class="page-title">Buttons</h1>
		<div class="separator-2"></div>
		<!-- page-title end -->

		<!-- Buttons start -->
		<!-- ============================================================================== -->

		<h2>Twitter Bootstrap's Buttons</h2>
		<h4>Small</h4>
		<a href="#" class="btn btn-default btn-sm">Default</a>
		<a href="#" class="btn btn-primary btn-sm">Primary</a>
		<a href="#" class="btn btn-success btn-sm">Success</a>
		<a href="#" class="btn btn-info btn-sm">Info</a>
		<a href="#" class="btn btn-warning btn-sm">Warning</a>
		<a href="#" class="btn btn-danger btn-sm">Danger</a>
		<br>
		<h4>Medium</h4>
		<a href="#" class="btn btn-default">Default</a>
		<a href="#" class="btn btn-primary">Primary</a>
		<a href="#" class="btn btn-success">Success</a>
		<a href="#" class="btn btn-info">Info</a>
		<a href="#" class="btn btn-warning">Warning</a>
		<a href="#" class="btn btn-danger">Danger</a>
		<br>
		<h4>Large</h4>
		<a href="#" class="btn btn-default btn-lg">Default</a>
		<a href="#" class="btn btn-primary btn-lg">Primary</a>
		<a href="#" class="btn btn-success btn-lg">Success</a>
		<a href="#" class="btn btn-info btn-lg">Info</a>
		<a href="#" class="btn btn-warning btn-lg">Warning</a>
		<a href="#" class="btn btn-danger btn-lg">Danger</a>
		<br>
		<br>
		<br>
		<h2>Button Links</h2>
		<a href="#" class="btn-sm-link">Default<i class="icon-download"></i></a>
		<a href="#" class="text-primary btn-sm-link">Primary<i class="icon-basket icon-after"></i></a>
		<a href="#" class="text-success btn-sm-link">Success<i class="icon-check icon-after"></i></a>
		<a href="#" class="text-info btn-sm-link">Info<i class="icon-info icon-after"></i></a>
		<a href="#" class="text-warning btn-sm-link">Warning<i class="icon-question icon-after"></i></a>
		<a href="#" class="text-danger btn-sm-link">Danger<i class="icon-clock icon-after"></i></a>
		<br>
		<br>
		<br>
		<a href="#" class="btn-md-link">Default<i class="icon-download"></i></a>
		<a href="#" class="text-primary btn-link">Primary<i class="icon-basket icon-after"></i></a>
		<a href="#" class="text-success btn-link">Success<i class="icon-check icon-after"></i></a>
		<a href="#" class="text-info btn-link">Info<i class="icon-info icon-after"></i></a>
		<a href="#" class="text-warning btn-link">Warning<i class="icon-question icon-after"></i></a>
		<a href="#" class="text-danger btn-link">Danger<i class="icon-clock icon-after"></i></a>
		<br>
		<br>
		<br>
		<a href="#" class="btn-lg-link">Default<i class="icon-download"></i></a>
		<a href="#" class="text-primary btn-lg-link">Primary<i class="icon-basket icon-after"></i></a>
		<a href="#" class="text-success btn-lg-link">Success<i class="icon-check icon-after"></i></a>
		<a href="#" class="text-info btn-lg-link">Info<i class="icon-info icon-after"></i></a>
		<a href="#" class="text-warning btn-lg-link">Warning<i class="icon-question icon-after"></i></a>
		<a href="#" class="text-danger btn-lg-link">Danger<i class="icon-clock icon-after"></i></a>
		<br>
		<br>
		<br>
		<h2>Buttons Square</h2>
		<h4>Small</h4>
		<a href="#" class="btn square btn-default btn-sm">Default</a>
		<a href="#" class="btn square btn-primary btn-sm">Primary</a>
		<a href="#" class="btn square btn-success btn-sm">Success</a>
		<a href="#" class="btn square btn-info btn-sm">Info</a>
		<a href="#" class="btn square btn-warning btn-sm">Warning</a>
		<a href="#" class="btn square btn-danger btn-sm">Danger</a>
		<h4>Medium</h4>
		<a href="#" class="btn square btn-default">Default</a>
		<a href="#" class="btn square btn-primary">Primary</a>
		<a href="#" class="btn square btn-success">Success</a>
		<a href="#" class="btn square btn-info">Info</a>
		<a href="#" class="btn square btn-warning">Warning</a>
		<a href="#" class="btn square btn-danger">Danger</a>
		<h4>Large</h4>
		<a href="#" class="btn square btn-default btn-lg">Default</a>
		<a href="#" class="btn square btn-primary btn-lg">Primary</a>
		<a href="#" class="btn square btn-success btn-lg">Success</a>
		<a href="#" class="btn square btn-info btn-lg">Info</a>
		<a href="#" class="btn square btn-warning btn-lg">Warning</a>
		<a href="#" class="btn square btn-danger btn-lg">Danger</a>
		<br>
		<br>
		<br>
		<h2>Buttons Semi-circle</h2>
		<h4>Small</h4>
		<a href="#" class="btn radius-50 btn-default btn-sm">Default</a>
		<a href="#" class="btn radius-50 btn-primary btn-sm">Primary</a>
		<a href="#" class="btn radius-50 btn-success btn-sm">Success</a>
		<a href="#" class="btn radius-50 btn-info btn-sm">Info</a>
		<a href="#" class="btn radius-50 btn-warning btn-sm">Warning</a>
		<a href="#" class="btn radius-50 btn-danger btn-sm">Danger</a>
		<h4>Medium</h4>
		<a href="#" class="btn radius-50 btn-default">Default</a>
		<a href="#" class="btn radius-50 btn-primary">Primary</a>
		<a href="#" class="btn radius-50 btn-success">Success</a>
		<a href="#" class="btn radius-50 btn-info">Info</a>
		<a href="#" class="btn radius-50 btn-warning">Warning</a>
		<a href="#" class="btn radius-50 btn-danger">Danger</a>
		<h4>Large</h4>
		<a href="#" class="btn radius-50 btn-default btn-lg">Default</a>
		<a href="#" class="btn radius-50 btn-primary btn-lg">Primary</a>
		<a href="#" class="btn radius-50 btn-success btn-lg">Success</a>
		<a href="#" class="btn radius-50 btn-info btn-lg">Info</a>
		<a href="#" class="btn radius-50 btn-warning btn-lg">Warning</a>
		<a href="#" class="btn radius-50 btn-danger btn-lg">Danger</a>
		<br>
		<br>
		<br>
		<h2>Buttons With Icons</h2>
		<h4>Small</h4>
		<a href="#" class="btn btn-default btn-sm">Settings <i class="icon-settings"></i></a>
		<a href="#" class="btn btn-primary btn-sm">Save <i class="icon-arrow-down"></i></a>
		<a href="#" class="btn btn-success btn-sm"><i class="icon-users"></i> Our Team</a>
		<a href="#" class="btn btn-info btn-sm">Print <i class="icon-print"></i></a>
		<a href="#" class="btn btn-warning btn-sm">Open <i class="icon-folder"></i></a>
		<a href="#" class="btn btn-danger btn-sm">Danger <i class="icon-question"></i></a>
		<h4>Medium</h4>
		<a href="#" class="btn btn-default">Settings <i class="icon-settings"></i></a>
		<a href="#" class="btn btn-primary">Save <i class="icon-arrow-down"></i></a>
		<a href="#" class="btn btn-success"><i class="icon-users"></i> Our Team</a>
		<a href="#" class="btn btn-info">Print <i class="icon-print"></i></a>
		<a href="#" class="btn btn-warning">Open <i class="icon-folder"></i></a>
		<a href="#" class="btn btn-danger">Danger <i class="icon-question"></i></a>
		<h4>Large</h4>
		<a href="#" class="btn btn-default btn-lg">Settings <i class="icon-settings"></i></a>
		<a href="#" class="btn btn-primary btn-lg">Save <i class="icon-arrow-down"></i></a>
		<a href="#" class="btn btn-success btn-lg"><i class="icon-user"></i> Our Team</a>
		<a href="#" class="btn btn-info btn-lg">Print <i class="icon-printer"></i></a>
		<a href="#" class="btn btn-warning btn-lg">Open <i class="icon-folder"></i></a>
		<a href="#" class="btn btn-danger btn-lg">Danger <i class="icon-question"></i></a>
		<br>
		<br>
		<br>
		<h2>Split button dropdowns</h2>
		<h4>Small</h4>
		<!-- Split button Default -->
		<div class="btn-group">
			<button type="button" class="btn btn-default btn-sm">Default</button>
			<button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
				<span class="caret"></span>
				<span class="sr-only">Toggle Dropdown</span>
			</button>
			<ul class="dropdown-menu" role="menu">
				<li><a href="#"><i class="icon-settings pr-20"></i> Settings</a></li>
				<li><a href="#"><i class="icon-user pr-20"></i> Profile</a></li>
				<li><a href="#" class="border-bottom-clear"><i class="icon-envelope pr-20"></i> Messages</a></li>
				<li class="divider"></li>
				<li><a href="#"><i class="icon-sign-out pr-20"></i> Sign Out</a></li>
			</ul>
		</div>
		<!-- Split button Primary -->
		<div class="btn-group">
			<button type="button" class="btn btn-primary btn-sm">Primary</button>
			<button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
				<span class="caret"></span>
				<span class="sr-only">Toggle Dropdown</span>
			</button>
			<ul class="dropdown-menu" role="menu">
				<li><a href="#"><i class="icon-settings pr-20"></i> Settings</a></li>
				<li><a href="#"><i class="icon-user pr-20"></i> Profile</a></li>
				<li><a href="#" class="border-bottom-clear"><i class="icon-envelope pr-20"></i> Messages</a></li>
				<li class="divider"></li>
				<li><a href="#"><i class="icon-sign-out pr-20"></i> Sign Out</a></li>
			</ul>
		</div>
		<!-- Split button Success -->
		<div class="btn-group">
			<button type="button" class="btn btn-success btn-sm">Success</button>
			<button type="button" class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
				<span class="caret"></span>
				<span class="sr-only">Toggle Dropdown</span>
			</button>
			<ul class="dropdown-menu" role="menu">
				<li><a href="#"><i class="icon-settings pr-20"></i> Settings</a></li>
				<li><a href="#"><i class="icon-user pr-20"></i> Profile</a></li>
				<li><a href="#" class="border-bottom-clear"><i class="icon-envelope pr-20"></i> Messages</a></li>
				<li class="divider"></li>
				<li><a href="#"><i class="icon-sign-out pr-20"></i> Sign Out</a></li>
			</ul>
		</div>
		<!-- Split button Info -->
		<div class="btn-group">
			<button type="button" class="btn btn-info btn-sm">Info</button>
			<button type="button" class="btn btn-info btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
				<span class="caret"></span>
				<span class="sr-only">Toggle Dropdown</span>
			</button>
			<ul class="dropdown-menu" role="menu">
				<li><a href="#"><i class="icon-settings pr-20"></i> Settings</a></li>
				<li><a href="#"><i class="icon-user pr-20"></i> Profile</a></li>
				<li><a href="#" class="border-bottom-clear"><i class="icon-envelope pr-20"></i> Messages</a></li>
				<li class="divider"></li>
				<li><a href="#"><i class="icon-sign-out pr-20"></i> Sign Out</a></li>
			</ul>
		</div>
		<!-- Split button Warning -->
		<div class="btn-group">
			<button type="button" class="btn btn-warning btn-sm">Warning</button>
			<button type="button" class="btn btn-warning btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
				<span class="caret"></span>
				<span class="sr-only">Toggle Dropdown</span>
			</button>
			<ul class="dropdown-menu" role="menu">
				<li><a href="#"><i class="icon-settings pr-20"></i> Settings</a></li>
				<li><a href="#"><i class="icon-user pr-20"></i> Profile</a></li>
				<li><a href="#" class="border-bottom-clear"><i class="icon-envelope pr-20"></i> Messages</a></li>
				<li class="divider"></li>
				<li><a href="#"><i class="icon-sign-out pr-20"></i> Sign Out</a></li>
			</ul>
		</div>
		<!-- Split button Danger -->
		<div class="btn-group">
			<button type="button" class="btn btn-danger btn-sm">Danger</button>
			<button type="button" class="btn btn-danger btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
				<span class="caret"></span>
				<span class="sr-only">Toggle Dropdown</span>
			</button>
			<ul class="dropdown-menu" role="menu">
				<li><a href="#"><i class="icon-settings pr-20"></i> Settings</a></li>
				<li><a href="#"><i class="icon-user pr-20"></i> Profile</a></li>
				<li><a href="#" class="border-bottom-clear"><i class="icon-envelope pr-20"></i> Messages</a></li>
				<li class="divider"></li>
				<li><a href="#"><i class="icon-sign-out pr-20"></i> Sign Out</a></li>
			</ul>
		</div>
		<h4>Medium</h4>
		<!-- Split button Default -->
		<div class="btn-group">
			<button type="button" class="btn btn-default">Default</button>
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
				<span class="caret"></span>
				<span class="sr-only">Toggle Dropdown</span>
			</button>
			<ul class="dropdown-menu" role="menu">
				<li><a href="#"><i class="icon-settings pr-20"></i> Settings</a></li>
				<li><a href="#"><i class="icon-user pr-20"></i> Profile</a></li>
				<li><a href="#" class="border-bottom-clear"><i class="icon-envelope pr-20"></i> Messages</a></li>
				<li class="divider"></li>
				<li><a href="#"><i class="icon-sign-out pr-20"></i> Sign Out</a></li>
			</ul>
		</div>
		<!-- Split button Primary -->
		<div class="btn-group">
			<button type="button" class="btn btn-primary">Primary</button>
			<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
				<span class="caret"></span>
				<span class="sr-only">Toggle Dropdown</span>
			</button>
			<ul class="dropdown-menu" role="menu">
				<li><a href="#"><i class="icon-settings pr-20"></i> Settings</a></li>
				<li><a href="#"><i class="icon-user pr-20"></i> Profile</a></li>
				<li><a href="#" class="border-bottom-clear"><i class="icon-envelope pr-20"></i> Messages</a></li>
				<li class="divider"></li>
				<li><a href="#"><i class="icon-sign-out pr-20"></i> Sign Out</a></li>
			</ul>
		</div>
		<!-- Split button Success -->
		<div class="btn-group">
			<button type="button" class="btn btn-success">Success</button>
			<button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
				<span class="caret"></span>
				<span class="sr-only">Toggle Dropdown</span>
			</button>
			<ul class="dropdown-menu" role="menu">
				<li><a href="#"><i class="icon-settings pr-20"></i> Settings</a></li>
				<li><a href="#"><i class="icon-user pr-20"></i> Profile</a></li>
				<li><a href="#" class="border-bottom-clear"><i class="icon-envelope pr-20"></i> Messages</a></li>
				<li class="divider"></li>
				<li><a href="#"><i class="icon-sign-out pr-20"></i> Sign Out</a></li>
			</ul>
		</div>
		<!-- Split button Info -->
		<div class="btn-group">
			<button type="button" class="btn btn-info">Info</button>
			<button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
				<span class="caret"></span>
				<span class="sr-only">Toggle Dropdown</span>
			</button>
			<ul class="dropdown-menu" role="menu">
				<li><a href="#"><i class="icon-settings pr-20"></i> Settings</a></li>
				<li><a href="#"><i class="icon-user pr-20"></i> Profile</a></li>
				<li><a href="#" class="border-bottom-clear"><i class="icon-envelope pr-20"></i> Messages</a></li>
				<li class="divider"></li>
				<li><a href="#"><i class="icon-sign-out pr-20"></i> Sign Out</a></li>
			</ul>
		</div>
		<!-- Split button Warning -->
		<div class="btn-group">
			<button type="button" class="btn btn-warning">Warning</button>
			<button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
				<span class="caret"></span>
				<span class="sr-only">Toggle Dropdown</span>
			</button>
			<ul class="dropdown-menu" role="menu">
				<li><a href="#"><i class="icon-settings pr-20"></i> Settings</a></li>
				<li><a href="#"><i class="icon-user pr-20"></i> Profile</a></li>
				<li><a href="#" class="border-bottom-clear"><i class="icon-envelope pr-20"></i> Messages</a></li>
				<li class="divider"></li>
				<li><a href="#"><i class="icon-sign-out pr-20"></i> Sign Out</a></li>
			</ul>
		</div>
		<!-- Split button Danger -->
		<div class="btn-group">
			<button type="button" class="btn btn-danger">Danger</button>
			<button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
				<span class="caret"></span>
				<span class="sr-only">Toggle Dropdown</span>
			</button>
			<ul class="dropdown-menu" role="menu">
				<li><a href="#"><i class="icon-settings pr-20"></i> Settings</a></li>
				<li><a href="#"><i class="icon-user pr-20"></i> Profile</a></li>
				<li><a href="#" class="border-bottom-clear"><i class="icon-envelope pr-20"></i> Messages</a></li>
				<li class="divider"></li>
				<li><a href="#"><i class="icon-sign-out pr-20"></i> Sign Out</a></li>
			</ul>
		</div>
		<h4>Large</h4>
		<!-- Split button Default -->
		<div class="btn-group">
			<button type="button" class="btn btn-default btn-lg">Default</button>
			<button type="button" class="btn btn-default btn-lg dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
				<span class="caret"></span>
				<span class="sr-only">Toggle Dropdown</span>
			</button>
			<ul class="dropdown-menu" role="menu">
				<li><a href="#"><i class="icon-settings pr-20"></i> Settings</a></li>
				<li><a href="#"><i class="icon-user pr-20"></i> Profile</a></li>
				<li><a href="#" class="border-bottom-clear"><i class="icon-envelope pr-20"></i> Messages</a></li>
				<li class="divider"></li>
				<li><a href="#"><i class="icon-sign-out pr-20"></i> Sign Out</a></li>
			</ul>
		</div>
		<!-- Split button Primary -->
		<div class="btn-group">
			<button type="button" class="btn btn-primary btn-lg">Primary</button>
			<button type="button" class="btn btn-primary btn-lg dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
				<span class="caret"></span>
				<span class="sr-only">Toggle Dropdown</span>
			</button>
			<ul class="dropdown-menu" role="menu">
				<li><a href="#"><i class="icon-settings pr-20"></i> Settings</a></li>
				<li><a href="#"><i class="icon-user pr-20"></i> Profile</a></li>
				<li><a href="#" class="border-bottom-clear"><i class="icon-envelope pr-20"></i> Messages</a></li>
				<li class="divider"></li>
				<li><a href="#"><i class="icon-sign-out pr-20"></i> Sign Out</a></li>
			</ul>
		</div>
		<!-- Split button Success -->
		<div class="btn-group">
			<button type="button" class="btn btn-success btn-lg">Success</button>
			<button type="button" class="btn btn-success btn-lg dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
				<span class="caret"></span>
				<span class="sr-only">Toggle Dropdown</span>
			</button>
			<ul class="dropdown-menu" role="menu">
				<li><a href="#"><i class="icon-settings pr-20"></i> Settings</a></li>
				<li><a href="#"><i class="icon-user pr-20"></i> Profile</a></li>
				<li><a href="#" class="border-bottom-clear"><i class="icon-envelope pr-20"></i> Messages</a></li>
				<li class="divider"></li>
				<li><a href="#"><i class="icon-sign-out pr-20"></i> Sign Out</a></li>
			</ul>
		</div>
		<!-- Split button Info -->
		<div class="btn-group">
			<button type="button" class="btn btn-info btn-lg">Info</button>
			<button type="button" class="btn btn-info btn-lg dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
				<span class="caret"></span>
				<span class="sr-only">Toggle Dropdown</span>
			</button>
			<ul class="dropdown-menu" role="menu">
				<li><a href="#"><i class="icon-settings pr-20"></i> Settings</a></li>
				<li><a href="#"><i class="icon-user pr-20"></i> Profile</a></li>
				<li><a href="#" class="border-bottom-clear"><i class="icon-envelope pr-20"></i> Messages</a></li>
				<li class="divider"></li>
				<li><a href="#"><i class="icon-sign-out pr-20"></i> Sign Out</a></li>
			</ul>
		</div>
		<!-- Split button Warning -->
		<div class="btn-group">
			<button type="button" class="btn btn-warning btn-lg">Warning</button>
			<button type="button" class="btn btn-warning btn-lg dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
				<span class="caret"></span>
				<span class="sr-only">Toggle Dropdown</span>
			</button>
			<ul class="dropdown-menu" role="menu">
				<li><a href="#"><i class="icon-settings pr-20"></i> Settings</a></li>
				<li><a href="#"><i class="icon-user pr-20"></i> Profile</a></li>
				<li><a href="#" class="border-bottom-clear"><i class="icon-envelope pr-20"></i> Messages</a></li>
				<li class="divider"></li>
				<li><a href="#"><i class="icon-sign-out pr-20"></i> Sign Out</a></li>
			</ul>
		</div>
		<!-- Split button Danger -->
		<div class="btn-group">
			<button type="button" class="btn btn-danger btn-lg">Danger</button>
			<button type="button" class="btn btn-danger btn-lg dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
				<span class="caret"></span>
				<span class="sr-only">Toggle Dropdown</span>
			</button>
			<ul class="dropdown-menu" role="menu">
				<li><a href="#"><i class="icon-settings pr-20"></i> Settings</a></li>
				<li><a href="#"><i class="icon-user pr-20"></i> Profile</a></li>
				<li><a href="#" class="border-bottom-clear"><i class="icon-envelope pr-20"></i> Messages</a></li>
				<li class="divider"></li>
				<li><a href="#"><i class="icon-sign-out pr-20"></i> Sign Out</a></li>
			</ul>
		</div>
		<br>
		<br>
	</div>
	<!-- /.buttons -->
</div>