<!--.section-traking-map-->
<div class="section-traking-map">

    <div class="row">
        <div class="col-lg-16 col-md-16 col-sm-16 col-xs-16">

            <!--.box-content-->
            <div class="box-content">
                <!--.box-content--header-->
                <div class="box-content--header row-flex">
                    <h3 class="box-content--header--title"><i class="icon-location-pin icon-before"></i><strong>Live Traking</strong> Map</h3>
                    <ul class="nav nav-pills box-content--header--nav">
                        <li class="option">
                            <a href="#" class="btn-map-fullscreen"><i class="icon-size-fullscreen"></i></a>
                        </li>
                    </ul>
                </div>
                <!--.box-content--header-->
                <div class="box-content--body">

                    <div id="traking-map_id" class="map-container"><a href="#" class="btn-map-screen"><i class="icon-size-actual"></i></a></div>

                </div>
            </div>
            <!--/.box-content-->

        </div>
    </div>

</div>
<!--/.section-traking-map-->