.icon-before {
  margin-right : 10px;
  }

.icon-after {
  margin-left : 10px;
  }

.box-content {
  background-color : @white;
  box-shadow       : 0 4px 35px -15px @gray-base;
  margin-bottom    : 30px;
  &.bg-brand {
    background-color : @brand-primary;
    color            : @white;
    }
  &--header {
    padding : 20px @grid-gutter-width;
    &--title {
      line-height : 0.1;
      margin      : 0;
      }
    &--nav {
      margin-left : auto;
      > .option {
        a {
          padding     : 5px;
          font-size   : 24px;
          line-height : 0.1;

          &:hover {
            background-color : @white;
            }
          }
        }
      }
    }
  &--inner {
    padding : 30px;
    }
  }

.box-head {
  text-align : center;
  display    : table;
  width      : 100%;
  .box-content--inner {
    display        : table-cell;
    vertical-align : middle;
    .head {
      &--title {
        font-size     : 24px;
        font-weight   : 200;
        margin-bottom : 20px;
        }
      &--total {
        font-size   : 18px;
        font-weight : 200;
        span {
          display : block;
          }
        }
      }
    }
  }

.state {
  text-align : center;
  &--icon {
    margin-bottom : 20px;
    }
  &--label {
    margin-bottom : 20px;
    }
  &--number {
    font-size   : 24px;
    line-height : 1;
    }

  .checkbox.checkbox-block {
    padding-top : 0;
    .checkbox-indicator {
      top : 60px;
      }
    .state--icon {
      margin-bottom : 0;
      }
    .state--label {
      padding-top   : 28px;
      margin-bottom : 0;
      }
    }
  }

.circle-info {
  font-size : 16px;
  .border-radius(50%);
  height    : 40px;
  width     : 40px;
  position  : relative;
  margin    : 0 auto;

  &.brand-primary {
    background-color : @brand-primary;
    }

  &.brand-secondary {
    background-color : @brand-secondary;
    }

  &.red {
    background-color : @brand-danger;
    }

  &.green {
    background-color : @brand-success;
    }

  &.blue {
    background-color : @brand-info;
    }

  &.yellow {
    background-color : @brand-warning;
    }

  &.gray {
    background-color : @gray;
    }

  &.gray-light {
    background-color : @gray-light;
    }

  > i {
    color    : @white;
    position : absolute;
    top      : 50%;
    left     : 50%;
    .translate(-50%, -50%);
    }

  &.circle-md {
    height : 50px;
    width  : 50px;

    > i {
      font-size : 20px;
      }
    }
  }

.box-login {
  background-color : @brand-primary;
  .border-radius(30px 30px 150px 150px);

  .opacity(0.95);

  margin-top: 50px;

  &--inner {
    padding : 30px;
    }

  &--head {
    margin-bottom : 30px;
    }
  .form-control {
    font-size: 18px;
    }
  .lang {
    margin-top: 30px;
    }
  }
