.map-container {
  height : 580px;
  height : 64vh;
  width  : 100%;

  &.fullscreen {
    position : absolute;
    top      : 0;
    left     : 0;
    height   : 100%;
    width    : 100%;
    z-index  : 1;
    }
  }

.leaflet-container {
  font : 14px/1.5 @font-family-base;
  }

.leaflet-bar {
  > a {
    background-color : @brand-primary;
    border-bottom    : 0;
    .box-shadow(0 2px 8px -3px @gray-base);
    color            : @white;
    font-weight      : 200;
    text-decoration  : none;
    float            : left;
    margin-right     : 10px;

    &:hover,
    &:focus {
      background-color : darken(@brand-primary, 13%);
      color            : @white;
      border-bottom    : 0;
      }
    }
  }

.leaflet-touch .leaflet-control-attribution,
.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
  border : 0 none;
  }

.leaflet-touch .leaflet-bar a {
  color       : @white;
  font-size   : 18px;
  font-weight : 200;
  height      : 35px;
  width       : 35px;
  line-height : 36px;
  .border-radius(4px);
  }

.leaflet-bar a:first-child,
.leaflet-touch .leaflet-bar a:first-child {
  .border-radius(50%);
  }

.leaflet-bar a:last-child,
.leaflet-touch .leaflet-bar a:last-child {
  .border-radius(50%);
  }

.leaflet-top .leaflet-control {
  margin-top : (@grid-gutter-width);
  }

.leaflet-bottom .leaflet-control {
  margin-bottom : (@grid-gutter-width);
  }

.leaflet-left .leaflet-control {
  margin-left : (@grid-gutter-width);
  }

.leaflet-right .leaflet-control {
  margin-right : 66px;
  }

.leaflet-top.leaflet-left {
  .leaflet-control-zoom {
    display : none;
    }
  }

.leaflet-touch .leaflet-control-layers,
.leaflet-control-layers-expanded {
  border           : 0 none;
  box-shadow       : none;
  background-color : transparent;
  padding          : 0;
  }

.leaflet-control-layers-overlays {
  label {
    background-color : transparent;
    color            : @brand-primary;
    font-family      : @font-family-base;
    margin-right     : 4px;

    @media (min-width : @screen-md) {
      float : left;
      }

    input.leaflet-control-layers-selector {
      display : none;
      }

    input.leaflet-control-layers-selector + span {
      display          : block;
      background-color : @brand-primary;
      .border-radius(4px);
      .box-shadow(0 2px 8px -3px #000);
      color            : @white;
      font-family      : @font-family-base;
      font-size        : 14px;
      font-weight      : 200;
      text-align       : center;
      padding          : 10px 20px 5px;
      min-width        : 100px;
      cursor           : pointer;

      i {
        display       : block;
        font-size     : 24px;
        margin-bottom : 5px;
        text-align    : center;
        }
      }
    input.leaflet-control-layers-selector:checked + span {
      background-color : @white;
      color            : @brand-primary;
      }
    }
  }

.leaflet-popup-content-wrapper {
  padding       : 5px;
  text-align    : left;
  border-radius : 4px;
  color         : @brand-primary;
  font-size     : 14px;
  font-family   : @font-family-base;
  }

.leaflet-container a.leaflet-popup-close-button {
  padding : 8px 20px 0 0;
  }

.leaflet-container {
  font-family : @font-family-base;
  a {
    color : inherit;
    }
  .btn-map-screen {
    background-color : @brand-primary;
    color            : @white;
    font-size        : 16px;
    text-decoration  : none;
    border           : 0 none;
    line-height      : 44px;
    height           : 35px;
    width            : 35px;
    .border-radius(50%);
    .box-shadow(0 2px 8px -3px @gray-base);
    position         : absolute;
    top              : 30px;
    right            : 30px;
    z-index          : 999;

    &:hover {
      background-color : darken(@brand-primary, 13%);
      }
    }
  .map-tools {
    position : absolute;
    top      : 30px;
    left     : 30px;
    z-index  : 999;
    .btn-secondary {
      font-family : @font-family-base;
      font-size   : 14px;
      font-weight : 200;
      text-align  : center;
      padding     : 10px 20px 5px;
      min-width   : 100px;
      > i {
        display       : block;
        font-size     : 24px;
        margin-bottom : 5px;
        text-align    : center;
        }
      }
    }
  .map-summary {
    background-color : @white;
    cursor           : default;
    height           : 100%;
    width            : 50%;
    position         : absolute;
    top              : 0;
    left             : 0;
    z-index          : 9999;
    .translate(-100%, 0);
    .transition(all 300ms);

    @media (max-width: @screen-md-max) {
      width: 70%;
      }

    &.open {
      .translate(0, 0);
      }

    &.box-content {
      .box-content--header {
        position         : absolute;
        top              : 0;
        z-index          : 1;
        background-color : #FFF;
        width            : 100%;
        }
      .box-content--body {
        margin-top : 75px;
        overflow   : auto;
        height     : calc(~'100% - 85px');
        width      : 100%;
        }
      }

    .inner-box {
      padding : 20px 30px;
      }
    .status-filters {
      border-top    : 1px solid @gray-lighter;
      border-bottom : 1px solid @gray-lighter;
      }
    .table-status-filters {
      background-color : @gray-lighter;
      .radio {
        color       : @gray-dark;
        font-size   : 15px;
        font-weight : bold;
        }
      }
    }
  &.fullscreen {
    }
  }